.LinkButton {
  font-size:2em;
  text-align:center;
  display: inline;
  font-size: 30px;
}
.LinkButton button {
  width: 40%;
  margin-top: 10px;
  margin-left: 30%;
  margin-right :30%;
}
.result-screen-button {
  font-size: 25px;
}
