.LinkButton {
  font-size:2em;
  text-align:center;
  display: inline;
}
.LinkButton button {
  width:40%;
  margin-top:2em;
  margin-left:30%;
  margin-right:30%;
}
.result-screen-button {
  font-size: 30px;
}
