.FirstSelect {
  margin-top: 0.5em;
  text-align: center;
  font-size: 2em;
  font-size: 30px;
}

.FirstInput {
  text-align:center;
  font-size:2em;
  padding:1em;
}
.SelectResult{
    text-align:center;
    font-size:2em;
    padding: 0.5em 1em;
}
.PlusMinus{
    text-align:center;
    font-size:2em;
    padding: 0.5em 1em;
    display:block;
}




.ロン点数 {
  display:block
}
.ツモ点数 {
  display:block
}
.流局点数 {
  display:none
}
.点数 {
  display:none
}

.ロンFromTo {
  text-align:center;
  font-size:2em;
  padding: 0.5em 1em;
  display:block
}
.ツモFromTo {
  display:none
}
.流局FromTo {
  display:none
}
.FromTo {
  display:none
}

.ロンTsumo{
  display:none
}
.ツモTsumo {
  text-align:center;
  font-size:2em;
  padding: 0.5em 1em;
  display:block
}
.流局Tsumo {
  display:none
}
.Tsumo {
  display:none
}

.ロンTempai{
  display:none
}
.ツモTempai {
  display:none
}
.流局Tempai {
  text-align:center;
  font-size:2em;
  padding: 0.5em 1em;
  display:block
}
.Tempai {
  display:none
}
