.FirstSelect {
  margin-top: 0.5em;
  text-align: center;
  font-size: 2em;
  font-size: 25px;
}

.FirstInput {
  text-align:center;
  font-size:2em;
  padding:1em;
}
.FirstInput input {
  border: solid 2px #000000;
  border-radius: 3px;
}

.SelectResult{
    text-align:center;
    font-size:2em;
    padding: 0.5em 1em;
    font-size: 25px;
}
.SelectResultUnder{
    border-bottom: double 6px black;
}
.FirstUnder{
    border-bottom: solid 2px black;
}
.PlusMinus{
    text-align:center;
    font-size:2em;
    padding: 0.5em 1em;
    display:block;
}

.PlusMinus button {
  width: 10%;
  text-align: center;
  font-size: 25px;
  border-radius: 2px;
  padding : 10px 0px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  background: white;
  transition: .4s;
  border-radius: 4px;
  border-bottom: 4px solid #43413e;
}
.PlusMinus button:hover {
  background: black;
  color: white;
}



.ロン点数 {
  display:block;
  font-size: 12px;
}
.ツモ点数 {
  display:block;
  font-size: 12px;
}
.流局点数 {
  display:none
}
.点数 {
  display:none
}

.ロンFromTo {
  text-align:center;
  font-size:2em;
  padding: 0.5em 1em;
  display:block;
  font-size: 25px;
}
.ロンFromTo input {
  border: solid 2px #000000;
  border-radius: 3px;
}
.ツモFromTo {
  display:none
}
.流局FromTo {
  display:none
}
.FromTo {
  display:none
}

.ロンTsumo{
  display:none
}
.ツモTsumo {
  text-align:center;
  font-size:2em;
  padding: 0.5em 1em;
  display:block;
  font-size: 25px;
}
.ツモTsumo input {
  border: solid 2px #000000;
  border-radius: 3px;
}
.流局Tsumo {
  display:none
}
.Tsumo {
  display:none
}

.ロンTempai{
  display:none
}
.ツモTempai {
  display:none
}
.流局Tempai {
  text-align:center;
  font-size:2em;
  padding: 0.5em 1em;
  display:block;
  font-size: 25px;
}
.流局Tempai input {
  border: solid 2px #000000;
  border-radius: 3px;
}
.流局Tempai button {
  width: 10%;
  text-align: center;
  font-size: 25px;
  border-radius: 2px;
  padding : 10px 0px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: black;
  background: white;
  transition: .4s;
  border-radius: 4px;
  border-bottom: 4px solid #43413e;
}
.流局Tempai button:hover {
  background: black;
  color: white;
}
.Tempai {
  display:none;
  font-size: 25px;
}
