.display-round-hand-area {
  margin: auto;
  font-size: 30px;
}

.round {
  text-align: center;
  background-color: lightgray;
  margin-bottom: 5px;
}

.hand {
  text-align: center;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  font-size: 40px;
  margin: auto;
  writing-mode: vertical-rl;
}

.text-number {
  text-align: center;
  font-size: 30px;
  margin: auto;
}