.player-name {
  padding: 5px;
  margin-bottom: 10px;
  background-color: chartreuse;
  font-size: 30px;
}

.player-score {
  padding: 5px;
  background-color: gray;
  font-size: 30px;
}

.player-name-and-score {
  margin: auto
}

.update-pointInfo-button {
  text-align: center;
  font-size: 30px;
  margin: auto;
  padding: 5px;
}
